/* Sayfa 2 sütuna bölünüyor */
.app-wrapper {
  display: flex;
  height: calc(100vh - 60px);
}

.sidebar {
  width: 20%;
  background-color: #b3d0fd; /* koyu mavi */
  padding: 16px;
  border-left: 1px solid #a4caf8;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 12px;
}

.main-content {
  width: 80%;
  padding: 24px;
  background: linear-gradient(135deg, #dbeeff, #f0f6ff); /* eklendi */
  overflow-y: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  background: linear-gradient(135deg, #dbeeff, #f0f6ff);
  height: 60px;
  box-shadow: 0 2px 5px rgba(132, 190, 255, 0.2);
}

.nav-links {
  display: flex;
  gap: 20px;
  font-weight: bold;
  font-size: 0.95rem;
  color: #4e89ff;
}

.nav-links a, .nav-links span {
  cursor: pointer;
  text-decoration: none;
  color: #4e89ff;
}

.nav-links a:hover,
.nav-links span:hover {
  color: #3a6edb;
}
  