body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #f2f8ff, #e9f2ff);
}

.movie-card {
  display: flex;
  border: 0;
  box-shadow: 0 -1px #e0e0e0, 0 0 2px #0000001f, 0 2px 4px #0000003d;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  border-radius: 50px;
  flex-direction: column;
  align-items: center;
}

a {
  color: #4e89ff;
  text-decoration: none;
}

a:hover {
  color: #3a6edb;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  background: linear-gradient(135deg, #dbeeff, #f0f6ff);
  border: 1px solid #b3d0fd;
  box-shadow: 0 0 4px rgba(79, 156, 232, 0.2);
  padding: 1rem;

  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
}

.saved-list h3 {
  margin-right: 10px;
  color: #4e89ff;
}

.saved-movie {
  margin: 0 10px;
}

.saved-active {
  color: #4e89ff;
  border: 1px solid #4e89ff;
  padding: 5px;
  border-radius: 6px;
}

.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}

.save-button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 1px solid #4e89ff;
  padding: 5px 10px;
  background-color: #b3d0fd;
  color: white;
  border-radius: 6px;
}

.save-button:hover {
  background-color: #4e89ff;
  color: white;
}

.home-button {
  padding: 5px 10px;
  background-color: #a4caf8;
  color: white;
  border-radius: 6px;
}
